
li a{
  font-size: 13px;
  color: #10132D;
}

nav, li, a{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #10132D;
}
h1{
  text-align: center;
  background-color: #10132D;
  margin: 0;
  padding: 20px;
  font-size: 60px;
}
h1 a{
  color: #F7B521;
}
nav{
  display: flex;
  height: 40px;
  justify-content: center;
  background-color: #F7B521;
}
li a{
  display: flex;
  height: 100%;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  position: relative;
}
li{
  display: flex;
  align-items: center;
}
/*lineas */
li a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6px;
  margin: auto; /* Centra horizontalmente utilizando margin */
  width: 80%; /* Ajusta el ancho de la línea */
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

li a:hover::after {
  background-color: #10132D; /* Color de la línea al hacer hover */
}

/*
  slider de novedades
*/
.container-novedades{
  display: flex;
  align-items: center;
  background-color: #10132D;
}
.container-novedades p{
  margin: 0;
  width: 10%;
}
swiper-container{
  width: 90%;
}
.titulo-novedades{
  color: #F7B521;
  text-align: center;
}

.swiper-style{
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  align-items: center;
  background-color: #3187AD;
}
.swiper-style p{
  width: 100%;
}
swiper-slide{
  height: auto;
  box-sizing: border-box;
  padding: 20px 0;
}
swiper-slide img{
  width: 50px;
  height: 50px;
  padding: 5px;
  object-fit: cover;
}